
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #d1d1d1;
    text-decoration: none;
    font-size: 30px;
}

.banner {
    background: url('img/banner.jpeg') no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #070501;
    text-align: center;
}

@media (max-width: 900px) {
    .banner {
        height: 800px; /* Menor altura para telas menores */
        background-size: contain; /* Garante que a imagem seja toda visível */
    }
}


.banner h2 {
    font-size: 3rem; /* texto dentro do banner, tamanho dele */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.menu-section {
    padding: 200px; /* Altura do background */
    text-align: center;
    background-color: #FDEDD8;
}

.menu-section h2 {
    font-size: 3.0rem; /* 2.5rem; */
    margin-bottom: 210px; /* 30px; */
}

.menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu-item {
    margin: 20px;
    text-align: center;
}

.menu-item img {
    width: 300px; /* largura*/
    height: 300px; /* altura*/
    border-radius: 60%; /* borda redonda */
    margin-bottom: 30px; /* distância letras */
}

.menu-item h3 {
    font-size: 1.5rem;
    color: #333;
}

.menu-item p {
    font-size: 1.2rem;
    color: #555;
}

.contact-section {  /* Rodapê */
    padding: 20px;
    text-align: center;
    background-color: #5B391E;
    color: white;
}

.contact-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
